.fo-form {
    width: 30%;
    min-width: 120px;
    height: 30%;
    padding-top: 10px;
    background: #FFF;
}

.field-padding {
    padding-top: 5px;
}

.link {
    font-size: small;
    text-align: right;
}