<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/main.js') }}"></script>
    <title>Ovision</title>
</head>
<body>
    <h1 align="center">Ovision</h1>
    <div class="link"><a href="/docs">API docs</a></div>
    <div class="fo-form">
        <input type="text" class="form-control" placeholder="name" id="name" name="name">
        <div class="field-padding">
            <input type="file" class="form-control field-padding" id="image" name="image">
        </div>
        <div class="field-padding">
            <button class="btn btn-dark" onclick="postImage()">Send</button>
        </div>
    </div>
    <div>
      <button onclick="loadLastImages()">Refresh</button>
    </div>
    <table>
        <thead>
            <th>Name</th><th>Original</th><th>Negative</th>
        </thead>
        <tbody id="images">
        </tbody>
    </table>
</body>
</html>